<div class="manage">
  <h2>Manage Extreme Feedback</h2>

  <md-tab-group>
    <md-tab label="Builds">
      <app-manage-status-items [resourceName]="'builds'" [failedStatus]="'failed'"></app-manage-status-items>
    </md-tab>
    <md-tab label="Deployments">
      <app-manage-status-items [resourceName]="'deployments'" [failedStatus]="'DeploymentFailed'"></app-manage-status-items>
    </md-tab>
    <md-tab label="Maintenance">
      <app-manage-maintenance></app-manage-maintenance>
    </md-tab>
  </md-tab-group>
</div>
