<div class="manage">
  <md-toolbar color="primary">
    <span>Manage Extreme Feedback</span>

    <a id="dashboard-link" md-button [routerLink]="['/']" target="_blank" md-tooltip="Opens in new tab" [mdTooltipPosition]="'right'">Open dashboard</a>
  </md-toolbar>

  <md-tab-group>
    <md-tab label="Builds">
      <app-manage-status-items [resourceName]="'builds'" [failedStatus]="'failed'"></app-manage-status-items>
    </md-tab>
    <md-tab label="Deployments">
      <app-manage-status-items [resourceName]="'deployments'" [failedStatus]="'DeploymentFailed'"></app-manage-status-items>
    </md-tab>
    <md-tab label="Maintenance">
      <app-manage-maintenance></app-manage-maintenance>
    </md-tab>
  </md-tab-group>
</div>
