<md-list>
  <md-list-item *ngFor="let deployment of deployments; let i = index">

    <h3 md-line>
      {{ deployment.name }}
    </h3>

    <md-chip-list>
      <md-chip [color]="deployment.status == 'DeploymentFailed' ? 'warn' : 'primary'" selected="true">
        {{ deployment.status }}
      </md-chip>
    </md-chip-list>

    <md-icon md-list-icon (click)="deleteDeployment(i)">delete</md-icon>
  </md-list-item>
</md-list>

<p *ngIf="deployments && deployments.length === 0">No deployments found</p>
