<md-list>
  <md-list-item *ngFor="let deployment of asyncDeployments | async | paginate: { id: 'deployments', itemsPerPage: itemsPerPage, currentPage: page, totalItems: total }">

    <h3 md-line>
      {{ deployment.name }}
    </h3>

    <md-chip-list>
      <md-chip [color]="deployment.status == 'DeploymentFailed' ? 'warn' : 'primary'" selected="true">
        {{ deployment.status }}
      </md-chip>
    </md-chip-list>

    <md-icon md-list-icon (click)="deleteDeployment(deployment.id)">delete</md-icon>
  </md-list-item>
</md-list>

<div *ngIf="total > itemsPerPage" class="has-text-centered">
  <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
  <pagination-controls (pageChange)="getPage($event)" id="deployments"></pagination-controls>
</div>

<p *ngIf="total === 0">No deployments found</p>
