.title {
  color: white;
  font-size: 64px;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-right: 0;
  margin-bottom: 0;
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2em;
  margin-left: -2em;
  font-size: 64px;
}

.tl {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 50%;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.tr {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 50%;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

.bl {
  position: absolute;
  top: 50%;
  left: 0;
  right: 50%;
  bottom: 0;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.br {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.success {
  background-color: #004d00;
}

.failed {
  background-color: red;
}

.fail-time {
  color: white;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 32px;
  }

  img {
    width: 128px;
  }

  .center {
    font-size: 32px;
  }
}
